body{  background-image: url("eyess.jpg");
       background-size: cover;
       background-repeat: no-repeat;
   
  
}
.vegetable{


   background-color: aqua;
   display: inline;
}
.fruits{

    background-color: aquamarine;
    display:inline;
}
h2{
    background-color: azure;
}
