body{  background-image: url("https://github.com/Asishsts/html/blob/main/eyess.jpg");
   
  
}
.vegetable{


   background-color: aqua;
   display: inline;
}
.fruits{

    background-color: aquamarine;
    display:inline;
}
h2{
    background-color: azure;
}
